<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
		<!--meta-->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.2" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="keywords" content="{{ site.description }}" />
		<meta name="description" content="{{ site.description }}" />
		<!--slider revolution-->
		<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
		<!--style-->
		<link href='https://fonts.googleapis.com/css?family=Noto+Serif:100,300,400,500,600,700,900' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="style/reset.css">
		<link rel="stylesheet" type="text/css" href="style/superfish.css">
		<link rel="stylesheet" type="text/css" href="style/prettyPhoto.css">
		<link rel="stylesheet" type="text/css" href="style/jquery.qtip.css">
		<link rel="stylesheet" type="text/css" href="style/style.css">
		<link rel="stylesheet" type="text/css" href="style/animations.css">
		<link rel="stylesheet" type="text/css" href="style/responsive.css">
		<link rel="stylesheet" type="text/css" href="style/odometer-theme-default.css">
		<!--fonts-->
		<link rel="stylesheet" type="text/css" href="fonts/streamline-small/styles.css">
		<link rel="stylesheet" type="text/css" href="fonts/streamline-large/styles.css">
		<link rel="stylesheet" type="text/css" href="fonts/template/styles.css">
		<link rel="stylesheet" type="text/css" href="fonts/social/styles.css">
		<link rel="shortcut icon" href="images/favicon.ico">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
	<body>
		<div class="site-container sticky">
			<div class="header-top-bar-container clearfix">
				<div class="header-top-bar">
					<ul class="contact-details clearfix">
						<li class="template-phone">
							+84 914 111 810
						</li>
						<li class="template-mail">
							dichvukholanh@gmail.com
						</li>
						<li class="template-clock">
							Phục Vụ 24/24
						</li>
					</ul>
					<div class="search-container">
						<a class="template-search" href="#" title="Search"></a>
						<form class="search" action="search.html">
							<input type="text" name="s" placeholder="Search..." value="Search..." class="search-input hint">
							<fieldset class="search-submit-container">
								<span class="template-search"></span>
								<input type="submit" class="search-submit" value="">
							</fieldset>
						</form>
					</div>
					<ul class="social-icons">
						<li>
							<a target="_blank" href="http://facebook.com/" class="social-facebook" title="facebook"></a>
						</li>
						<li>
							<a target="_blank" href="https://twitter.com/" class="social-twitter" title="twitter"></a>
						</li>
						<li>
							<a href="https://pinterest.com//" class="social-pinterest" title="pinterest"></a>
						</li>
						
					</ul>
				</div>
				<a href="#" class="header-toggle template-arrow-up"></a>
			</div>
			<div class="header-container">
				<div class="vertical-align-table column-1-1">
					<div class="header clearfix">
						<div class="logo vertical-align-cell">
							<h1><a href="index.html" title="Dịch Vụ Kho Lạnh">RENOVATE</a></h1>
						</div>
						<a href="#" class="mobile-menu-switch vertical-align-cell">
							<span class="line"></span>
							<span class="line"></span>
							<span class="line"></span>
						</a>
						<div class="menu-container clearfix vertical-align-cell">
							<nav>
								<ul class="sf-menu">
									<li>
										<a href="index.html" title="Home">
											TRANG CHỦ
										</a>
									</li>
									<li>
										<a href="services.html" title="Services">
											GIỚI THIỆU
										</a>
										
									</li>
									<li>
										<a href="projects.html" title="Projects">
											DỊCH VỤ
										</a>
										<ul>
											<li>
												<a href="project_interior_renovation.html" title="Interior Renovation">
													SỬA CHỮA KHO LẠNH
												</a>
											</li>
											<li>
												<a href="project_garden_renovation.html" title="Garden Renovation">
													THIẾT KẾ KHO LẠNH
												</a>
											</li>
											<li>
												<a href="project_painting.html" title="Painting">
													LẮP ĐẶT KHO LẠNH
												</a>
											</li>
											<li>
												<a href="project_design_build.html" title="Design and Build">
													CHUYỂN KHO LẠNH
												</a>
											</li>
											</ul>
									</li>
									<li>
										<a href="about.html" title="Pages">
											TIN TỨC
										</a>
										</li>
									<li>
										<a href="blog.html" title="Blog">
											TÀI LIỆU
										</a>
									</li>
									<li>
										<a href="cost_calculator.html" title="Authors">
											LIÊN HỆ
										</a>
									</li>
									
								</ul>
							</nav>
							<div class="mobile-menu-container">
								<div class="mobile-menu-divider"></div>
								<nav>
									<ul class="mobile-menu">
										<li>
										<a href="index.html" title="Home">
											TRANG CHỦ
										</a>
									</li>
									<li>
										<a href="services.html" title="Services">
											GIỚI THIỆU
										</a>
										
									</li>
									<li>
										<a href="projects.html" title="Projects">
											DỊCH VỤ
										</a>
										<ul>
											<li>
												<a href="project_interior_renovation.html" title="Interior Renovation">
													SỬA CHỮA KHO LẠNH
												</a>
											</li>
											<li>
												<a href="project_garden_renovation.html" title="Garden Renovation">
													THIẾT KẾ KHO LẠNH
												</a>
											</li>
											<li>
												<a href="project_painting.html" title="Painting">
													LẮP ĐẶT KHO LẠNH
												</a>
											</li>
											<li>
												<a href="project_design_build.html" title="Design and Build">
													CHUYỂN KHO LẠNH
												</a>
											</li>
											</ul>
									</li>
									<li>
										<a href="about.html" title="Pages">
											TIN TỨC
										</a>
										</li>
									<li>
										<a href="blog.html" title="Blog">
											TÀI LIỆU
										</a>
									</li>
									<li>
										<a href="cost_calculator.html" title="Authors">
											LIÊN HỆ
										</a>
									</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>